<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new student</title>
</head>
<body>


<form action="./newstudent" method="post">
    <label for="username">username:</label><br>
    <input type="text" id="username" name="sUsername" /><br>

    <label for="email">email:</label><br>
    <input type="text" id="email" name="sEmail" /><br>

    <label for="password">password:</label><br>
    <input type="password" id="password" name="sPassword" /><br>

    <input type="submit" value="submit" />

</form>


</body>
</html>